
<!-- list user -->
<div id="list-user">
    List user 2345


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${listUser.empty}" scope="row">
                <td colspan="6" class="text-center">No Records Available</td>
            </tr>

            <tr th:each="obj:${listUser}">
                <td class="paTo9 paBo9 foSi13" scope="row">
                    <a th:href="@{/admin/user/edit/{userId}(userId=${obj.userId})}" class="foWe500">
                        <span th:text="${obj.fullName}">Full Name</span>
                    </a>
                </td>

                <td class="paTo9 paBo9 foSi13">
                    <span th:text="${obj.username}">Username</span>
                </td>

                <td class="paTo9 paBo9 foSi13">
                    <span th:text="${obj.email}">Email</span>
                </td>

                <td class="paTo9 paBo9 foSi13">
                    <span th:text="${obj.address}">Address</span>
                </td>

                <td class="paTo9 paBo9 foSi13">
                    <a class=" icon-action maRi10" th:href="@{/admin/user/edit/{userId}(userId=${obj.userId})}">
                        Edit
                    </a>

                    <a class="icon-action cuPo" th:href="@{/admin/user/delete/{userId}(userId=${obj.userId})}">
                        Xoá
                    </a>
                </td>

            </tr>
        </tbody>
    </table>

</div>
