
<!-- product edit -->
<div id="product-edit" class="col-md-6">
    <h4 th:if="${product == null}">Thêm Product</h4>
    <h4 th:if="${product != null}">Sửa Product</h4>

    <form th:action="@{/admin/product/update}" method="post">
        <!-- Product id hidden -->
        <input type="hidden" name="productId" id="productId" th:value="${product != null ? product.getProductId() : ''}">

        <!-- Product Name -->
        <div class="form-group row">
            <label class="col-sm-4">Product Name</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" name="productName" id="productName"
                       th:value="${product != null ? product.getproductName() : ''}" required>
            </div>
        </div>

        <!-- Price -->
        <div class="form-group row">
            <label class="col-sm-4">Price</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" name="price" id="Price"
                       requirep
                       th:value="${product != null ? product.getPrice() : ''}">
            </div>
        </div>

        <!-- Description -->
        <div class="form-group row">
            <label class="col-sm-4">Description</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" name="description" id="description"
                       required
                       th:value="${product != null ? product.getDescription() : ''}">
            </div>
        </div>

        <!-- Quantity -->
        <div class="form-group row">
            <label class="col-sm-4">Quantity</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" name="quantity" id="quantity"
                       required
                       th:value="${product != null ? product.getQuantity() : ''}">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Lưu</button>
    </form>

</div>
